*{
	margin: 0;
	padding:0;
}
body {
	background: linear-gradient(to bottom right, #ccff99 0%, #66ccff 100%);
}
.head{
	padding:20px;
}
.body{
	padding-left:20px;
	padding-left:5px;
}
.heading{
	text-align:center;
	font-size:80px;
	 background: linear-gradient(to top left, #ccffff 0%, #99ffcc 97%);
	padding:25px;
}
.p1 {
	text-align:center;
}
