*{
	margin: 0;
	padding:0;
}
body {
	/* background: linear-gradient(to bottom right, #ccff99 0%, #66ccff 100%); */
	
	background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.head{
	padding:20px;
}
.body{
	margin-left:20px;
	padding-bottom:20px;
}
.heading{
	text-align:center;
	font-size:80px;
	 background: linear-gradient(to top left, #ccffff 0%, #99ffcc 97%);
	padding:25px;
}
.p1 {
	text-align:center;
}
