*{
	margin: 0;
	padding:0;
}

body {
	text-align:center;
	
	
}

nav{
	background-color:gray;
	padding:12px;
}
nav a {
	text-decoration:none;
	padding:10px 25px;
	color:#FFFFFF;
}
nav a:hover{
	background-color:LightGray;
	text-decoration:underline;
	color:SlateBlue;
}
img {
    width: 600px; /* Sets the width */
    height: 160px; /* Sets the height */
}
